.popup {
  width: 100%;
  height: 100vh;
  background-color: rgba($color: $color-black, $alpha: 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;

  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  @supports (-webkit-backdrop-filter: blur(0)) or (backdrop-filter: blur(0)){
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  &__background {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    opacity: 0;
    cursor: default;
}

  &__content {
    width: 100rem;
    // height: 60rem;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color: $color-black, $alpha: 0.2);
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    display: table;
    overflow: hidden;
    opacity: 0;
    transition: all .5s .2s ease-in-out;

    @include respondMax($tablet-portrait){
      width: 95%;
    }
  
  }

  &__left {
    width: 33.33%;
    display: table-cell;

    @include respondMax($tablet-portrait){
      display: table-row;
      overflow: hidden;
    }
  }
  
  &__right {
    width: 66.66%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respondMax($tablet-portrait){
      width: 100%;
    }

  }

  &__img {
    display: block;
    width: 100%;
    height: auto;

    @include respondMax($tablet-portrait){
      float: left;
      width: 50%;
      height: 40rem;
      object-fit: cover;
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 2px solid $color-gray-light-2;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    @include respondMax($tablet-portrait){
      float: right;
      width: 100%;
      align-content: center;
    }
    @include respondMax($phone){
      column-count: 1;
    }
  }

  &:target{
    opacity: 1;
    visibility: visible;
  }

  &:target &__content{
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
  }

  &__close{
    &:link,
    &:visited{
      font-size: 3rem;
      text-decoration: none;
      line-height: .5;
      color: $color-gray-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      display: inline-block;
      transition: all .2s;
    }

    &:hover{
      color: $color-primary;
    }
  }
}
